body{
    margin: 0px;
}

.header{
    height: 40px;
    background-color: #f0f0f0;
}

.menu{
    background-color: #333;
    padding: 10px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.btn{
    margin: 5px;
}
.slider{
   margin: auto;
   text-align: center;
}

.sub-navi{
   margin: auto;
   text-align: center;
   
}



